{{ encore_entry_link_tags('folderAutocomplete') }}
{{ include('folder/_sciezkaTuJestem.html.twig')}}
{{ include('folder/_form.html.twig') }}
<div
	id="div_lista_plikow">
	{# {{ include('pismo/listaNier.html.twig') }} #}
	treść początkowa
</div>
{# <script type="text/javascript" src="/js/odczytZawartosciFolderu.js"></script> #}
{{ encore_entry_script_tags('folder_new') }}
