<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Pisma{% endblock %}</title>
        
        {% block stylesheets %}
            <link href="/css/styl.css" rel="stylesheet"/>
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        {% block b_dodatkoweArkuszeIskrypty %}{% endblock %}
    </head>
    <body>
        <div id="caly_div">
            <div class="tlo_cala_szerokosc">

                <div class="pion_zwezony" id="belka_gora">
                    <nav>
                        <ul class="ul_menu" >
                            <li class="li_menu"><a href="{{ path('pismo_nowe_index') }}" >nowe pisma</a></li>{#  #}
                            <li class="li_menu"><a href="{{ path('pismo_index') }}">pisma zarejestrowane</a></li>{#  #}
                            <li class="li_menu"><a href="{{ path('kontrahent_index') }}">nadawca / odbiorca</a></li>{# <a href="{{ path('kontrahent_index') }}">nadawca / odbiorca</a> #}
                            <li class="li_menu"><a href="{{ path('sprawa_index') }}">sprawa</a></li>{# sprawa #}
                            <li class="li_menu"><a href="{{ path('rodzaj_dokumentu_index') }}">rodzaje dokumentów</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="pion_zwezony" id="div_pod_belka">
                {% block b_div_pod_belka %}{% endblock %}
            </div>
            <div class="pion_zwezony" id="div_kolumny">
            {% block b_domyslnie_kolumny %}
            {% endblock %}
            </div>
            <div class="pion_zwezony" id="belka_dol">
                {% block belka_dol %}
                {# b dół #}
                {% endblock %}
            </div>
        </div>
        
    </body>
</html>
