{% extends 'base.html.twig' %}

{% block title %}Sprawa{% endblock %}

{% block body %}
{% block b_div_pod_belka %}

    <h3>{{ sprawa.id }} {{ sprawa.opis }}</h3>
   {% include "pismo/listaRej.html.twig" %} 
{% endblock %}


    <a href="{{ path('sprawa_index') }}">back to list</a>

    <a href="{{ path('sprawa_edit', {'id': sprawa.id}) }}">edit</a>

    {{ include('sprawa/_delete_form.html.twig') }}
{% endblock %}
