{# Wyszukiwanie według: #}
{# https://symfony.com/doc/current/form/create_custom_field_type.html #}
{{ form_start(form) }}
{# {{ form_row('początek') }} #}
{# Początek #}
{{ form_widget(form) }}
{# <button class="btn">{{ button_label|default('Zapisz') }}</button> #}
{{ form_end(form) }}

