
<table>
    <tr>
        <td>opis:</td>
        <td>{{pismo.opis}}</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>oznaczenie:</td>
        <td>{{pismo.oznaczenieUzytkownika}}</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>data na dokumencie</td>
        <td>{{ pismo.dataDokumentu|date("Y-m-d") }}</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>rodzaj dokumentu:</td>
        <td>
            {% if pismo.rodzaj != null %}
                {{pismo.rodzaj.nazwa}}
            {% endif %}
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{ pismo.kierunekOpisowo }}</td>
        {% if pismo.strona != null %}
        
        <td>
            <a href="{{ path('kontrahent_show',{'id': pismo.strona.id, 'pismo_id': pismo.id, 'numer_strony': numerStrony })}}">
            {{ pismo.strona.nazwa }}
            </a>
        </td>
        {% endif %}

    </tr>
    {% for sprawa in pismo.sprawy %}
        <tr>
            <td>{{ loop.first ? 'dotyczy:' }}</td>
            <td>
                <a href="{{ path('sprawa_show', {'id': sprawa.id}) }}">
                    {{sprawa.opis}}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
