<table>
    {% for pismo in pisma %}
        <tr>
            {% if pismo.kierunek == 1 %}
                <td class="ic_przychodzace">
            {% elseif pismo.kierunek == 2 %}
                <td class="ic_wychodzace" >
            {% else %}
                <td>
            {% endif %}
            </td>
                
            <td>
                <a href="{{ pismo.sciezkaGenerUrl }}">
                    {% set nazwa = (pismo.opis != '') ? pismo.opis : pismo.nazwaPliku %}
                    {% if pismo_id == pismo.id %}
                        {# {% set st = '<<b>' %} #}
                        {# {% set end = '</b>>' %} #}
                        <<b>{{ nazwa }}</b>>
                    {% else %}
                    {% set st = "" %}
                    {% set end = "" %}
                        {{ nazwa }}
                    {% endif %}
                        {# {{ st }}{{ pismo.nazwaPliku }}{{end}} #}
                </a>
            </td>
        </tr>
        {% if pismo_id == pismo.id and wierszZopcjami is defined %}
        <tr>
            <td></td>
            <td>
                {% include "pismo/_szczegoly.html.twig" %}
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                {# <a href="{{path('pismo_show', {'id' : pismo.id, 'numerStrony': numerStrony })}}">szczegóły</a> #}
                <a href="{{path('pismo_edit', {'id' : pismo.id, 'numerStrony': numerStrony })}}">edytuj dane</a>
                <a href="{{path('pismo_pobieranie',{'id' : pismo.id})}}">pobierz plik</a>
            </td>
            <td></td>
        </tr>
        {% endif %}
        
    {% endfor %}
</table>
