<table>
    {% for pismo in pisma %}
        <tr>
            <td>
                {% if pismo.kierunek == 1 %}
                p
                {% endif %}
            </td>
            <td>
                <a href="{{ pismo.sciezkaGenerUrl }}">
                    {% if pismo_id == pismo.id %}
                        {% set st = '<<b>' %}
                        {% set end = '</b>>' %}
                        <<b>{{ pismo.nazwaPliku }}</b>>
                    {% else %}
                    {% set st = "" %}
                    {% set end = "" %}
                        {{ pismo.nazwaPliku }}
                    {% endif %}
                        {# {{ st }}{{ pismo.nazwaPliku }}{{end}} #}
                </a>
            </td>
            {# <td>
                {% if pismo.JestPodgladDlaZrodla() %}+{% endif %}
                
            </td> #}
            {% if pokazDate is defined %}
            
            <td>
                {{ pismo.dataDokumentu|date("Y-m-d") }}
            </td>
            {% endif %}
            <td>
                {% if pismo.kierunek == 2 %}
                w
                {% endif %}
            </td>
            
        </tr>
    {% endfor %}
</table>
