<table>
    {% for pismo in pisma %}
        <tr>
            {% if pismo.kierunek == 1 %}
                <td class="ic_przychodzace">
            {% elseif pismo.kierunek == 2 %}
                <td class="ic_wychodzace" >
            {% else %}
                <td>
            {% endif %}
            </td>
                
            <td>
                <a href="{{ pismo.sciezkaGenerUrl }}">
                    {% if pismo_id == pismo.id %}
                        {# {% set st = '<<b>' %} #}
                        {# {% set end = '</b>>' %} #}
                        <<b>{{ pismo.nazwaPliku }}</b>>
                    {% else %}
                    {% set st = "" %}
                    {% set end = "" %}
                        {{ pismo.nazwaPliku }}
                    {% endif %}
                        {# {{ st }}{{ pismo.nazwaPliku }}{{end}} #}
                </a>
            </td>
            {# <td>
                {% if pismo.JestPodgladDlaZrodla() %}+{% endif %}
                
            </td> #}
            {% if pokazDate is defined %}
            
            <td>
                {{ pismo.dataDokumentu|date("Y-m-d") }}
            </td>
            {% endif %}
            
        </tr>
        {% if pismo_id == pismo.id and wierszZopcjami is defined %}
        <tr>
            <td></td>
            <td><a href="{{path('pismo_edit', {'id' : pismo.id, 'numerStrony': numerStrony })}}">edytuj dane</a></td>
            <td></td>
        </tr>
        {% endif %}
        
    {% endfor %}
</table>
