{% extends 'base.html.twig' %}

{% block title %}{{ pismo.NazwaSkroconaZrodla(15) }}{% endblock %}

{% block b_div_pod_belka %}
    <h3>Niezarejestrowane: {{ pismo.nazwaZrodlaPrzedZarejestrowaniem }}</h3>
{% endblock %}
{% block b_div_lewy %}
    <h4>Lista dokumentów do wprowadzenia:</h4>
    {{ include('pismo/listaNier.html.twig') }}
{% endblock %}
{% block b_div_centr %}
Ostatnio używane oznaczenie dokumentu:
Wychodzące XYZ.zw<br>
data modyfikacji dokumentu: {{ pismo.dataModyfikacji }}
{% include "pismo/_form.html.twig" %}
dodaj odbiorce/nadawce jesli brak na liście
{% endblock %}
{% block b_div_prawy %}
{% set nazwa = pismo.nazwaZrodlaPrzedZarejestrowaniem %}
strony: 
{% set indeks = 1 %}
{% for sciezka_png in sciezki_png_dla_stron %}
    <a href="{{ path('pismo_nowe_ze_skanu', {'nazwa': nazwa, 'numerStrony': indeks}) }}" >
    {% if numerStrony == indeks %}
    <{{ indeks }}> </b>
    {% else %}
        {{ indeks }}  
    {% endif %}
    </a>
    {% set indeks = indeks + 1 %}
{% endfor %}
<img src="{{ sciezka_png }}" alt="nie mogę wyświetlić " width="100%">
{% endblock %}
{% block belka_dol %}{% endblock %}