{% extends 'base.html.twig' %}

{% block title %}{{ pismo.nazwaZrodlaPrzedZarejestrowaniem }}{% endblock %}

{% block b_div_pod_belka %}
    <h3>Niezarejestrowane: {{ pismo.nazwaZrodlaPrzedZarejestrowaniem }}</h3>
{% endblock %}
{% block b_div_lewy %}
    <h4>Lista dokumentów do wprowadzenia:</h4>
    <table>
        {% for nazwa in skany %}
            <tr>
                <td>
                    
                    <a href="{{ path('pismo_nowe_ze_skanu', {'nazwa': nazwa}) }}" >{{ nazwa }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block b_div_centr %}
miejsce na wprowadzenie danych dotyczących dokumentu
{% endblock %}
{% block b_div_prawy %}
pokaż kolejną stronę
<img src="{{ sciezka_png }}" alt="nie mogę wyświetlić " width="100%">
{% endblock %}
{% block belka_dol %}{% endblock %}