{% extends 'base.html.twig' %}

{% block title %}Pismo{% endblock %}

{% block b_div_pod_belka %}
    <h3>Pismo</h3>
{% endblock %}
{% block b_div_lewy %}
{{ include('pismo/listaRej.html.twig') }}

{% endblock %}
{% block b_div_centr %}
<table>
    <tr>
        <td>nazwa:</td>
        <td>{{pismo.nazwaPliku}}</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>oznaczenie:</td>
        <td>{{pismo.oznaczenie}}</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>rodzaj dokumentu:</td>
        <td>{{pismo.rodzaj.nazwa}}</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{ pismo.kierunekOpisowo }}</td>
        <td>{{ pismo.strona.nazwa }}</td>
    </tr>
</table>
<br>
<a href="{{path('pismo_edit', {'id' : pismo.id, 'numerStrony': numerStrony })}}">edytuj dane dokumentu</a>
{% endblock %}
{% block b_div_prawy %}
strony: 
{% set indeks = 1 %}
{% for sciezka_png in sciezki_png_dla_stron %}
        <a href="{{ path('pismo_show', {'id' : pismo.id , 'numerStrony': indeks}) }}"> 
        {% if numerStrony == indeks %}
        <{{ indeks }}> </b>
        {% else %}
            {{ indeks }}  
        {% endif %}
    </a>
    {% set indeks = indeks + 1 %}
{% endfor %}
<img src="{{ sciezka_png }}" alt="nie mogę wyświetlić " width="100%">
{% endblock %}